$--theme-color: #1677ff;

// background-color
$--default-bgc:#fff;
$--success-bgc: #3db103;
$--primary-bgc: $--theme-color;
$--danger-bgc: #ff4d4f;
$--waring-bgc:#e90;
$--info-bgc: #909399;

// font-color
$--base-color: #606266;
$--white-color:#fff;

// border-color
$--default-border-color:$--default-bgc;
$--success-border-color:$--success-bgc;
$--primary-border-color:$--primary-bgc;
$--danger-border-color:$--danger-bgc;
$--waring-border-color:$--waring-bgc;
$--info-border-color:$--info-bgc;
$--base-border-color:$--base-color;




